//headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  .project-lg-heading {
    font-size: 6rem;
  }
  .project-sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

.project-about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "bioimage1 bio bio";
  grid-template-columns: repeat(3, 1fr);

  .project-bio-image {
    grid-area: bioimage;
    margin: auto;
    width: 375px;
    height: 325px;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .project-bio-image1 {
    grid-area: bioimage;
    margin: auto;
    width: 375px;
    height: 325px;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .project-bio {
    grid-area: bio;
    font-size: 1.2rem;
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border: $secondary-color 3px solid;
    border-top: $secondary-color 1px solid;
  }
}
