//headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.project-lg-heading {
    font-size: 6rem;
  }

  &.project-sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

.project-about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "bioimage1 bio bio";
  grid-template-columns: repeat(3, 1fr);

  .project-bio-image {
    grid-area: bioimage;
    margin: auto;
    width: 375px;
    height: 325px;

    border: $secondary-color 3px solid;
  }

  .project-bio-image1 {
    grid-area: bioimage1;
    margin: auto;
    width: 375px;
    height: 325px;

    border: $secondary-color 3px solid;
  }

  .project-bio {
    grid-area: bio;
    font-size: 1.2rem;
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border: $secondary-color 3px solid;
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

// Needs to be at the bottom so that media queries load after initial CSS
@import "mobile";
